.App {
    height: 100vh;
    width: 100%;
    background: #121026;
    overflow: hidden;
    display: flex;
}

.App::-webkit-scrollbar {
    display: none;
}

@media only screen and (max-width: 525px) {
    .App {
        overflow-x: hidden;
        overflow-y: scroll;
    }
}